<!DOCTYPE html>
<html lang="en" ng-app="MCIS">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRecruit Form</title>
    <link rel="stylesheet" href="main.css">
    <script src="signature_pad.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>    
</head>
<body>
  <div class="erecruit-form-container">
    <div class="erecruit-form" ng-controller="formController" ng-init="init()">
      <ul class="erecruit-steps">
        <li ng-class="stage == '' ? 'active' : ''">Agent Application</li>
        <li ng-class="stage == 'stage1' ? 'active' : ''">Liam COE and Conduct</li>
        <li ng-class="stage == 'stage2' ? 'active' : ''">Product Overview & CTF</li>
        <li ng-class="stage == 'stage3' ? 'active' : ''">Liam Movement</li>
        <li ng-class="stage == 'stage4' ? 'active' : ''">Nomination</li>
      </ul>
      <form name="multiStepForm" id="multiStepForm" class="form-mcis form-validation" role="form" ng-submit="submitForm()" novalidate>
          <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">

            <!-- Agent Application -->
            <div ng-switch-default>
              <div class="row stage-policy" ng-hide="stagePolicy">
                <div class="col-md-12">
                  <div>Have you been employed in the last 5 years?</div>                    
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary" ng-click="stagePolicyFn()">Yes</button>
                  <button type="button" class="btn btn-primary">No</button>
                  <!-- <button type="button" class="btn btn-primary" ng-click="next('stage1')">Back</button> -->
                </div>
              </div>

              <div class="row" ng-show="stagePolicy">
                <div ng-switch on="section">
                  <div ng-switch-default>
                    <h3>Personal Details</h3>

                    <!-- Salutation -->
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <label for="salutation">Salutation</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 inblock-top">
                        <div class="form-group margin-bottom-20">
                          <select name="salutation" id="salutation" class="form-control-mcis selectpicker" ng-model="formParams.salutation" required> 
                            <option value="salutation-mr">MR</option>
                            <option value="salutation-mr">MS</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- NRIC -->
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <label for="nameNric">Name as per NRIC</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 inblock-top">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="nameNric" 
                            name="nameNric" ng-maxlength="10" ng-model="formParams.nameNric" placeholder="Company Name"
                            ng-class="{'input-error': formValidation && multiStepForm.nameNric.$error.required}" required>
                            <span ng-show="multiStepForm.nameNric.$error.maxlength">
                              Max character length reached.
                            </span>
                        </div>
                      </div>
                    </div>

                    <!-- DOB -->
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <label for="dob">Date of Birth</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-2 inblock-top">
                        <div class="form-group margin-bottom-20">
                          <select name="" id="personalDobDate" class="form-control-mcis selectpicker" ng-class="{'error': multiStepForm.personalDobDate.$error.required}" ng-model="formParams.personalDobDate" form-validate-rule="required" form-validate-message="This field is required" aria-required="true" aria-invalid="true">
                            <option disabled="" selected="">Date</option>                              
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>                              
                          </select>
                          <span ng-show="multiStepForm.personalDobDate.$error.required">
                            This field is required
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-2 inblock-top">
                        <div class="form-group margin-bottom-20">
                          <select name="personalDobMonth" id="personalDobMonth" class="form-control-mcis selectpicker" ng-class="{'error': multiStepForm.personalDobMonth.$error.required}" ng-model="formParams.personalDobMonth" form-validate-rule="required" form-validate-message="This field is required" aria-required="true" aria-invalid="true">
                            <option disabled="" selected="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>                    
                          </select>
                          <span ng-show="multiStepForm.personalDobMonth.$error.required">
                            This field is required
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-2 inblock-top">
                        <div class="form-group margin-bottom-20">
                          <select name="" id="personalDobYear" class="form-control-mcis selectpicker" ng-class="{'error': multiStepForm.personalDobYear.$error.required}" ng-model="formParams.personalDobYear" form-validate-rule="required" form-validate-message="This field is required" aria-required="true" aria-invalid="true">
                            <option disabled="" selected="">Year</option>
                            
                              <option value="2021">2021</option>
                              <option value="2020">2020</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                            
                          </select>
                          <span ng-show="multiStepForm.personalDobYear.$error.required">
                            This field is required
                          </span>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <div class="col-md-12 d-flex-center">
                        <button type="button" class="btn btn-primary" ng-click="nextSection('section1')">Continue</button>
                        <button type="button" class="btn btn-primary">Back</button>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="section1">
                    <h3>Personal Details</h3>

                    <!-- Correspondence Address -->
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <label for="correspondenceAddress">Correspondence Address</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 inblock-top">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="correspondenceAddress" 
                            name="correspondenceAddress" ng-model="formParams.correspondenceAddress"
                            ng-class="{'input-error': formValidation && multiStepForm.correspondenceAddress.$error.required}" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">                         
                      </div>
                      <div class="col-xs-12 col-md-4 inblock-top">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="correspondenceAddress1" 
                            name="correspondenceAddress1" ng-model="formParams.correspondenceAddress1">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">                         
                      </div>
                      <div class="col-xs-12 col-md-4 inblock-top">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="correspondenceAddress2" 
                            name="correspondenceAddress2" ng-model="formParams.correspondenceAddress2">
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <div class="col-md-12 d-flex-center">
                        <button type="button" class="btn btn-primary" ng-click="nextSection('section2')">Continue</button>
                        <button type="button" class="btn btn-primary" ng-click="backSection('')">Back</button>
                      </div>
                    </div>

                  </div>
                  <div ng-switch-when="section2">
                    <h3>Personal Details</h3>
                                          
                    <!-- Primary Handphone No. -->
                    <div class="row">
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <label for="primaryHandphoneNo">Primary Handphone No.</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-1 inblock-top">
                        <div class="form-group">
                          <input type="number" class="form-control-mcis" id="primaryHandphoneNoPrefix" 
                            name="primaryHandphoneNoPrefix" ng-maxlength="2" maxlength="2" ng-model="formParams.primaryHandphoneNoPrefix"
                            ng-class="{'input-error': formValidation && multiStepForm.primaryHandphoneNoPrefix.$error.required}" required>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3 inblock-top">
                        <div class="form-group">
                          <input type="number" class="form-control-mcis" id="primaryHandphoneNo" 
                            name="primaryHandphoneNo" ng-maxlength="10" maxlength="10" ng-model="formParams.primaryHandphoneNo"
                            ng-class="{'input-error': formValidation && multiStepForm.primaryHandphoneNo.$error.required}" required>
                            <span ng-show="multiStepForm.primaryHandphoneNo.$error.maxlength">
                              Max character length reached.
                            </span>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <div class="col-md-12 d-flex-center">
                        <button type="button" class="btn btn-primary" ng-click="nextSection('section3')">Continue</button>
                        <button type="button" class="btn btn-primary" ng-click="backSection('section1')">Back</button>
                      </div>
                    </div>
                    
                  </div>
                  <div ng-switch-when="section3">
                    <h3>Personal Details</h3>
                    
                    <!-- Spouse Particulars -->
                    <div class="row custom-row-border">
                      <div class="col-xs-12 col-md-12 inblock-top">
                        <div class="section-label">
                          Spouse Particulars
                        </div>
                      </div>
                    </div>
                    <!-- Spouse NRIC -->
                    <div class="row border-top-left-right">                        
                      <div class="col-xs-12 col-md-3 pt-15">
                        <div class="form-group">
                          <label for="spouseNricNo">NRIC No.</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 pt-15">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="spouseNricNo" 
                            name="spouseNricNo" ng-maxlength="10" maxlength="10" ng-model="formParams.spouseNricNo"
                            ng-class="{'input-error': formValidation && multiStepForm.spouseNricNo.$error.required}" required>
                            <span ng-show="multiStepForm.spouseNricNo.$error.maxlength">
                              Max character length reached.
                            </span>
                        </div>
                      </div>
                    </div>

                    <div class="row border-top-left-right">                        
                      <div class="col-xs-12 col-md-3 pt-15">
                        <div class="form-group">
                          <label for="spouseOldNricNo">Old NRIC No.</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 pt-15">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="spouseOldNricNo" 
                            name="spouseOldNricNo" ng-maxlength="10" maxlength="10" ng-model="formParams.spouseOldNricNo"
                            ng-class="{'input-error': formValidation && multiStepForm.spouseOldNricNo.$error.required}" required>
                            <span ng-show="multiStepForm.spouseOldNricNo.$error.maxlength">
                              Max character length reached.
                            </span>
                        </div>
                      </div>
                    </div>                    

                    <div class="row border-bottom">                        
                      <div class="col-xs-12 col-md-3 pt-15">
                        <div class="form-group">
                          <label for="spouseNameNric">Name as per NRIC</label>                        
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 pt-15">
                        <div class="form-group">
                          <input type="text" class="form-control-mcis" id="spouseNameNric" 
                            name="spouseNameNric" ng-maxlength="10" ng-model="formParams.spouseNameNric"
                            ng-class="{'input-error': formValidation && multiStepForm.spouseNameNric.$error.required}" required>
                            <span ng-show="multiStepForm.spouseNameNric.$error.maxlength">
                              Max character length reached.
                            </span>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <div class="col-md-12 d-flex-center">
                        <button type="button" class="btn btn-primary" ng-click="nextSection('section4')">Continue</button>
                        <button type="button" class="btn btn-primary" ng-click="backSection('section2')">Back</button>
                      </div>
                    </div>
                    
                  </div>

                  <!-- Employment History -->
                  <div ng-switch-when="section4">
                    <h3>Employment History</h3>
                    <div class="tabs">
                      <!-- Employment History 1 -->
                      <div class="tab">
                        <input type="checkbox" id="eh1" class="custom-check">
                        <label class="tab-label" for="eh1">Employment History 1</label>
                        <div class="tab-content">
                          <!-- Company Name -->
                          <div class="row border">                              
                            <div class="col-xs-12 col-md-3 inblock-top">
                              <div class="form-group">
                                <label for="companyName">Company Name</label>                        
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-4 inblock-top">
                              <div class="form-group">
                                <input type="text" class="form-control-mcis" id="companyName" 
                                  name="companyName" ng-model="formParams.companyName"
                                  ng-class="{'input-error': formValidation && multiStepForm.companyName.$error.required}" required>                                  
                              </div>
                            </div>
                          </div>
                          <!-- Position Held -->
                          <div class="row border">                              
                            <div class="col-xs-12 col-md-3 inblock-top">
                              <div class="form-group">
                                <label for="positionHeld">Position Held</label>                        
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-4 inblock-top">
                              <div class="form-group">
                                <input type="text" class="form-control-mcis" id="positionHeld" 
                                  name="positionHeld" ng-model="formParams.positionHeld"
                                  ng-class="{'input-error': formValidation && multiStepForm.positionHeld.$error.required}" required>                                  
                              </div>
                            </div>
                          </div>                            
                        </div>
                      </div>
                      <!-- Employment History 2 -->
                      <div class="tab">
                        <input type="checkbox" id="eh2" class="custom-check">
                        <label class="tab-label" for="eh2">Employment History 2</label>
                        <div class="tab-content">
                          <!-- Company Name -->
                          <div class="row border">                              
                            <div class="col-xs-12 col-md-3 inblock-top">
                              <div class="form-group">
                                <label for="companyName">Company Name</label>                        
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-4 inblock-top">
                              <div class="form-group">
                                <input type="text" class="form-control-mcis" id="companyName" 
                                  name="companyName" ng-model="formParams.companyName"
                                  ng-class="{'input-error': formValidation && multiStepForm.companyName.$error.required}" required>                                  
                              </div>
                            </div>
                          </div>
                          <!-- Position Held -->
                          <div class="row border">                              
                            <div class="col-xs-12 col-md-3 inblock-top">
                              <div class="form-group">
                                <label for="positionHeld">Position Held</label>                        
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-4 inblock-top">
                              <div class="form-group">
                                <input type="text" class="form-control-mcis" id="positionHeld" 
                                  name="positionHeld" ng-model="formParams.positionHeld"
                                  ng-class="{'input-error': formValidation && multiStepForm.positionHeld.$error.required}" required>                                  
                              </div>
                            </div>
                          </div>                            
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <div class="col-md-12 d-flex-center">
                        <button type="button" class="btn btn-primary" ng-click="nextStep('stage1')">Continue</button>
                        <button type="button" class="btn btn-primary" ng-click="backSection('section3')">Back</button>
                      </div>
                    </div>
                    
                  </div>                      
                </div>
              </div>
            </div>

            <!-- Liam COE and Conduct -->
            <div ng-switch-when="stage1">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="tb-lname">Old NRIC No.</label><span>*</span>
                    <input type="text" class="form-control" id="oldNric" name="oldNric" ng-maxlength="20" ng-model="formParams.oldNric" ng-class="{'input-error': formValidation && multiStepForm.oldNric.$error.required}" required>
                    <span ng-show="multiStepForm.oldNric.$error.maxlength">
                      Max character length reached.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="tb-email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" ng-maxlength="100" ng-model="formParams.email" ng-class="{'input-error': formValidation && multiStepForm.email.$error.required}" required>
                    <span ng-show="multiStepForm.email.$error.email">
                      Incorrect email format.
                    </span>
                    <span ng-show="multiStepForm.email.$error.maxlength">
                      Max character length reached.
                    </span>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info" ng-click="backStep('')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="nextStep('stage2')">Next</button>
            </div>

            <!-- Product Overview & CTF -->
            <div ng-switch-when="stage2">
              <div class="form-group">
                  <select name="singleSelect" id="singleSelect" ng-model="formParams.singleSelect" required>
                      <option value="">---Please select---</option> <!-- not selected / blank option -->
                      <option value="option-1">Option 1</option>
                      <option value="option-2">Option 2</option>
                  </select>
              </div>
              <div class="form-group">
                  <input type="file" class="form-control" fileread="formParams.eSign" ng-model="formParams.eSign" id="eSign" name="eSign" ng-class="{'input-error': formValidation && multiStepForm.eSign.$error.required}" required>
              </div>
              <div class="form-group">
                <label for="ta-body">Message Body:</label>
                <textarea class="form-control" rows="5" id="ta-body" ng-model="formParams.messageBody" required></textarea>
              </div>
              <button type="button" class="btn btn-info" ng-click="backStep('stage1')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="nextStep('stage3')">Next</button>
            </div>

            <!-- Liam Movement -->
            <div ng-switch-when="stage3">
              <h3>Summary</h3>
              <p>First name: {{formParams.nameNric}}</p>
              <p>Last name: {{formParams.oldNric}}</p>
              <p>Email: {{formParams.email}}</p>
              <p>Dropdown: {{formParams.singleSelect}}</p>
              <p>Message Body: {{formParams.messageBody}}</p>
              <button type="button" class="btn btn-info" ng-click="backStep('stage2')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="nextStep('stage4')">Next</button>
            </div>

            <!-- Nomination -->
            <div ng-switch-when="stage4">
              <div class="success-wrap">
                <h2 class="confirmation-text">Thank you</h2>
                <p>Your message has been sent.<br>You should receive a confirmation email.</p>
                <div><button type="button" class="btn btn-success" ng-click="reset()" >Send Another</button></div>
              </div>
            </div>
          </div>
      </form>

      <div class="esign-modal">
        <div id="signature-pad" class="signature-pad">
          <div class="signature-pad--body">
            <canvas width="830" style="touch-action: none;" height="466"></canvas>
          </div>
          <div class="signature-pad--footer">
            <div class="description">Sign above</div>        
            <div class="signature-pad--actions">
              <div>
                <button type="button" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-primary">Clear</button>
              </div>
            </div>
          </div>
        </div>
        <div class="signature-upload">
          <div class="upload-area">
            
          </div>
          <input type="file">Drag a file into this area or select file (JEPG/JPG file only)
        </div>
        <div>            
          <button type="button" class="btn btn-primary">CONFIRM & SUBMIT</button>
        </div>
      </div>
  </div>
  </div>
</body>
    <script defer src="main.js"></script>
</html>