.page-title h3 {
  margin-top: 0;
}

.erecruit-form-container {  
  padding: 2% 5% 5%;
}

.erecruit-form {  
  padding: 20px 60px 10px 60px;
  background-color: #ffffff;
}
.uppercase {
  text-transform: uppercase;
}

#multiStepForm {
  /* padding-top: 50px; */
}

/* Multi Step styles */
.erecruit-steps {
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  counter-reset: step;
  
}
.erecruit-steps li {
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  width: 20%;
  position: relative;
  float: left;
  color: #707070;
}
.erecruit-steps li:before {
  display: block;
  content: counter(step);
  counter-increment: step;
  width: 32px;
  height: 32px;
  background-color: #337ab7;
  line-height: 32px;
  border-radius: 32px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 0 auto 8px auto;
  position: relative;
  z-index: 2;
}
.erecruit-steps li ~ li:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #337ab7;  
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: 1;
} 
.erecruit-steps li.active{
  color: #337ab7;
}
.erecruit-steps li.active:before {
  color: #fff;
}
.erecruit-steps li.active:after {
  background-color: #337ab7;  
}
.erecruit-steps li.active ~ li:before,
.erecruit-steps li.active ~ li:after {
  background-color: #CECECE;
  color: #707070;
}
.erecruit-steps li.active ~ li {
  color: #707070;
}

/* Accordion styles */
.custom-check {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background: #00386c;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
  /* Icon */
}
.tab-label:hover {
  background: #00386c;
}
/* .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
} */
.tab-content.custom-tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content.custom-tab-content {
  max-height: 100vh;
  overflow-x: hidden;
  /* padding: 1em; */
}

/* e signature */
/* .esign-modal{
  background-color: #DCDCDC;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 20px;
}

.esign-modal .modal {
  background: white;
}

.esign-modal .modal .modal-header {
  display: flex;
  align-items: center;
} */

.esign-content {
  padding: 12px;
}

.esign-content .checkbox label span{
  display: block;
  padding-left: 20px;
}

.signature-pad {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; */
  /* border: 1px solid #e8e8e8; */
  /* background-color: #fff; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset; */
  /* padding: 50px; */
  margin-top: 16px;
}

.signature-pad::before,
.signature-pad::after {
  /* position: absolute;
  z-index: -1;
  content: "";
  width: 40%;
  height: 10px;
  bottom: 10px;
  background: transparent;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); */
}

.signature-pad::before {
  /* left: 20px;
  -webkit-transform: skew(-3deg) rotate(-3deg);
          transform: skew(-3deg) rotate(-3deg); */
}

.signature-pad::after {
  /* right: 20px;
  -webkit-transform: skew(3deg) rotate(3deg);
          transform: skew(3deg) rotate(3deg); */
}

.signature-pad--body {
  /* position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; */
  width: 100%;
}

.upload-pad--body {
  height: 205px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #DCDCDC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADADAD
}

.signature-pad--body
canvas {
  /* position: absolute;
  left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset; */
}

.signature-pad--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-end;
  color: #C3C3C3;
  text-align: center;
  font-size: 1.2em;
  background-color: #DCDCDC;
  margin-top: -5px;
  padding-top: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.signature-pad--actions {
  margin-top: 8px;
}

.modal-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-tabs .modal-tab {
  color: #000000;
  margin-left: 10px;
}

.section-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.custom-row-border {
  background-color: #00386c;
  padding: 15px 5px;
}

.esign-modal {
  display: none;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pt-15 {
  padding-top: 15px;
}
.border-top-left-right {
  border: 1px solid #c2c2c2;
  border-bottom: 0;
}
.border-bottom {
  border-bottom: 1px solid #c2c2c2;
}

.with-heading-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.custom-mcis-file-input {
  position: relative;
}

.custom-mcis-file-input .btn {
  /* position: absolute;
  top: 0; */
  position: relative;
  z-index: 1;
  background-color: #FAFAFA;
  color: #00386c;
}

.btn {
  min-width: 150px;
}

.custom-mcis-file-input .form-control-mcis-file-input {
  position: absolute;
  top: 50%;
  width: 30px;
  opacity: 0;
  transform: translateY(-50%);
}

.custom-mcis-file-input span, .custom-mcis-file-input a{
  display: block;
}

.employment-history-wrapper {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tab-content.custom-tab-content {
  overflow-y: hidden;
}

/* .tabs {
  box-shadow: none;
} */

/* .custom-inline-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

/* .custom-inline-form .form-group {
  margin-bottom: 0
} */
.custom-inline-form .form-group,
.custom-inline-form .form-group input {
  width: auto!important;
}

.custom-inline-form .form-group select {
  width: auto!important;
  /* min-width: 150px; */
  padding-right: 40px!important
}

.custom-inline-form .form-group select.date-field {
  /* min-width: 130px; */
}

.custom-inline-form .form-group {
  margin-bottom: 20px;
}

.custom-inline-form > span > * {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.custom-inline-form > span > .form-group {
  display: inline-block;
}

.form-control-mcis:disabled, .form-control-mcis.custom-disabled {
  color: #808080!important;
  background-color: #DFDFDF!important;
}

.form-control-mcis::placeholder {
  color: #ADADAD!important;
}

.custom-checkbox-mcis label{
  position: relative;
  padding-left: 40px;
}

.custom-checkbox-mcis input {
  display: none
}

.custom-checkbox-mcis label .custom-checkbox {
  border: 1px solid #00386c;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%)
}
.custom-checkbox-mcis label .custom-checkbox.custom-checkbox-error {
  border-color: #f44b53;
}

.custom-checkbox-mcis label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  color: #00386c;
}

.custom-checkbox-mcis input:checked ~ label::before {
  content: "✓"
}

.custom-checkbox-mcis label span {
  /* padding-left: 2rem; */
}

.custom-inline {
  display: flex;
  align-items: center;
}

.custom-inline .custom-mcis-file-input {
  margin: 0 1.75rem;
  width: auto;
}

.custom-inline-checkbox {
  display: flex;
  align-items: center;
}

.custom-inline-checkbox .custom-checkbox-mcis{
  margin: 0 1.75rem;
}

.btn.gray.custom-upload-error-mcis {
  border-color: #f44b53;
}

label {
  font-weight: normal;
}

.form-group:not(.custom-mcis-file-input) label {
  /* transform: translateY(50%); */
  /* white-space: nowrap; */
} 

.form-group:not(.custom-mcis-file-input) label.one-line {
  white-space: nowrap;
} 

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-50 {
  flex-basis: 50%;
  padding: 0 16px;
}

.margin-right-0 {
  margin-right: 0;
}

.agreement-section .scrollable-section{
  max-height: 35vh;
  overflow-y: scroll;
  background-color: #f4f4f4;
  padding: 4px 10px 4px 8px;
}

.agreement-section .scrollable-section p{
  margin-bottom: 20px;
}

.d-block-important {
  display: block!important
}

.agent-details-wrapper {
  display: flex;
  justify-content: flex-end;
}

.agent-details-wrapper .agent-details {
  display: flex;
  align-items: center;
  color: #707070;
}

.border-black {
  border-color: #000000;
}

.review-form input:disabled, .review-form select:disabled, .review-form textarea:disabled {
  font-weight: bold;
}